<{% extends "base.html" %}


{% block header %}
<h1 class="display-4">{{judul}}</h1>
<h2>{{subjudul}}</h2>

<div class="container">

    <a href="/transfer" class="btn btn-primary btn-lg" role="button">Pusat</a>
    <a href="/transfer/provinsi" class="btn btn-primary btn-lg" role="button">Provinsi</a>
    <a href="/transfer/kabupaten" class="btn btn-primary btn-lg" role="button">Kabupaten</a>





</div>

{% endblock header %}


{%block content%}

 <form method="post">
        <div class ='form-group'>
            {% csrf_token %}
            <table>
                {{form_ransfer.as_table}}
            </table>
            <br>
        </div>
        <button type="submit">kirim</button>
    </form>


{% endblock content %}

