{% extends "base.html" %}


{% block header %}
<h1 class="display-4">{{judul}}</h1>
<h2>{{subjudul}}</h2>

<div class="btn-group" role="group" aria-label="Basic example">
    <div class="right">
        <a href="#" class="btn btn-primary btn-lg" role="button">Table Kas</a>
        <a href="#" class="btn btn-primary btn-lg" role="button">Table Kegiatan</a>
    </div>
</div>



<form method="post">
    <div class ='form-group'>
        {% csrf_token %}
        <table>
            {{form_control.as_table}}
        </table>
        <br>
    </div>
    <button type="submit" class ="btn btn-primary btn-lg" >Tampilkan </button>
</form>



{% endblock header %}

{%block content%}
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Uraian</th>
      <th scope="col">Tanggal Pengajuan</th>
      <th scope="col">Tanggal Transfer</th>
      <th scope="col">Tanggal  Validation</th>
      <th scope="col">Jumlah Biaya</th>
      <th scope="col">Detail RAB</th>
      <th scope="col">Validation</th>
    </tr>

  </thead>

  <tbody>
    <tr>
        <th scope="row">1</th>
        <td>pengajuan dana jembatan</td>
        <td>01-01-2020</td>
        <td>02-02-2020</td>
        <td>03-03-2020</td>
        <td>2000000000</td>
        <td>
            <a href="#" class="btn btn-secondary btn-link" role="button">Proposal</a>
        </td>

        <td>
            <a href="#" class="btn btn-secondary btn-link" role="button">Detail</a>
        </td>

    </tr>

  </tbody>
</table>

{% endblock content %}


