<{% extends "base.html" %}


{% block header %}
<h1 class="display-4">{{judul}}</h1>
<h2>{{subjudul}}</h2>

<!--
    <a href="/transfer" class="btn btn-primary btn-lg" role="button">Pusat</a>
    <a href="/transfer/provinsi" class="btn btn-primary btn-lg" role="button">Provinsi</a>
    <a href="/transfer/kabupaten" class="btn btn-primary btn-lg" role="button">Kabupaten</a>
 -->
  <h1>{{trans_name}}</h1>
  {% for dataCategory in categories %}
      <a class = "nav-item" href="/laporandata/category/{{dataCategory.transfer_id}}/" title="">
        {{dataCategory.transfer_id}}
      </a>
  {% endfor %}

{% endblock header %}


{%block content%}
    <br>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Transfer Id</th>
          <th scope="col">Transfer</th>
          <th scope="col">Uraian</th>
          <th scope="col">Jumlah</th>
          <th scope="col">Bukti Pembayaran</th>

        </tr>
      </thead>
      <tbody>

        {% for akun in filvaltransfer %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{akun.transfer_id}}</td>
              <td>{{akun.transfer}}</td>
              <td>{{akun.uraian}}</td>
              <td>{{akun.harga}}</td>
              <td>
                  <a href="/media/gambar/bukti_item/{{akun.bukti_item}}" download>Bukti Item</a>
                  <a href="/media/gambar/bukti_transfer/{{akun.bukti_transfer}}" download>Bukti Transfer</a>
              </td>
            </tr>
        {% endfor %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td></td>
              <td></td>
              <td></td>
              <td>{{saldo}}</td>
              <td>
              <a href="/laporandata/transfer/{{val_input}}/" class="btn btn-primary btn-lg" role="button">Submit Laporan</a>
              </td>
            </tr>
      </tbody>
    </table>




{% endblock content %}

